body {
  overflow-x: hidden;
}

.mv {
  width: 100%;
  height: 95vh;
  max-height: 700px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 1s;
  &.--bottle {
    background-image: url("../img/mv-img__bottle.png");
  }
  &.--collect {
    background-image: url("../img/mv-img__collect.png");
  }
  &.--recycling {
    background-image: url("../img/mv-img__recycling.png");
  }
  .mv__title {
    width: 595px;
    color: #fff;
    font-family: "Shippori Mincho B1", serif;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 18px;
    position: absolute;
    top: 245px;
    .mv__title-main {
      font-size: 36px;
      &.--color {
        color: #22b573;
      }
    }
    .mv__title-sub {
      font-size: 24px;
      &.--color {
        color: #22b573;
      }
    }
  }
}

.animation {
  position: absolute;
  bottom: -45%;
  right: -110px;
  .animation__honeycomb {
    display: flex;
    flex-direction: column;
  }
  .animation__honeycomb-row {
    display: flex;
    justify-content: center;
    &.--second {
      transform: translateY(-18%);
    }
    &.--third {
      transform: translateY(-36%);
    }
  }
  .animation__hexagon-button-wrapper {
    width: 20vw;
    height: 20vw;
    max-width: 290px;
    max-height: 290px;
    min-width: 230px;
    min-height: 230px;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    position: relative;
    z-index: 300;
  }
  .animation__hexagon-button {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    &.--middle {
      z-index: 120;
    }
    &.--active {
      z-index: 150;
    }
  }
  .animation__hexagon-text {
    font-family: "Stick", serif;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .animation__slide-box {
    width: 100%;
    height: 100%;
    transform: scale(1.3) rotate(30deg) translateY(-90%);
    position: absolute;
    z-index: 130;
  }
  .animation__hexagon-wrapper {
    &.--hide {
      opacity: 0;
    }
  }
  .animation__hexagon {
    width: 20vw;
    height: 20vw;
    max-width: 290px;
    max-height: 290px;
    min-width: 230px;
    min-height: 230px;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background-color: #22b573;
  }
  .animation__hexagon-shadow {
    width: 20vw;
    height: 20vw;
    max-width: 290px;
    max-height: 290px;
    min-width: 230px;
    min-height: 230px;
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background-color: #333;
    opacity: 0.8;
    position: absolute;
    transform: translate(5%, 3%);
  }

  // svgボタン
  .animation__svg {
    width: 140%;
    height: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// モーダル
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 500;
  overflow: hidden;
  display: none;
  opacity: 0;
  &.--bottle {
    background-color: #bde5e9;
  }
  &.--collect {
    background-color: #e1d7b3;
  }
  &.--recycling {
    background-color: #b8eea0;
  }
  .modal__inner {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .modal__section {
    padding: 20px 0 0 7.36%;
  }
  .modal__section-title {
    font-family: "Stick", serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.4;
    &.--sub {
      font-size: 20px;
    }
  }
  .modal__under-line-image {
  }
  .modal__content-title {
    font-family: "Shippori Mincho B1", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 19px;
  }
  .modal__content {
    font-family: "Shippori Mincho B1", serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 95px;
  }
  .modal__detail-button {
    width: 275px;
    height: 74px;
    background-color: #fff;
    border: solid 2px #3e3e3e;
    border-radius: 44.5px;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    .modal__detail-button-text {
      font-size: 24px;
      font-weight: 400;
      line-height: 29.05px;
    }
  }
  .modal__image-wrapper {
    display: flex;
    justify-content: center;
    .modal__image {
    }
  }
  .modal__exit-button {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 10px;
    left: 10px;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 50px;
      background-color: #333;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.top {
  width: 100%;
  height: 500px;
  background-color: antiquewhite;
}

@media screen and (max-width: 768px) {
  .mv {
    .mv__title {
      width: 100%;
      top: 50px;
      .mv__title-main {
        font-size: 28px;
      }
      .mv__title-sub {
        font-size: 20px;
      }
    }
  }
  .animation {
    right: -220px;
    bottom: -70px;
    .animation__hexagon-button-wrapper {
      width: 176px;
      height: 176px;
      min-width: 0;
      min-height: 0;
    }
    .animation__hexagon-text {
      font-size: 25px;
    }
    .animation__hexagon {
      width: 176px;
      height: 176px;
      min-width: 0;
      min-height: 0;
    }
    .animation__hexagon-shadow {
      width: 176px;
      height: 176px;
      min-width: 0;
      min-height: 0;
    }
  }
}
